SYMBOLS {
	__STACKSIZE__: type = weak, value = $0100;
}

MEMORY {
	ZP:			start = $0000, size = $00EC, type = rw, define = yes;
	RAM:		start = $0200, size = $1E00, type = rw, define = yes;
	ROM:		start = $E000, size = $2000, type = ro, fill = yes, fillval = $FF, define = yes;
	BANKS:		start = $4000, size = $2000, type = ro, fill = yes, fillval = $FF, define = yes;
	#TOTAL 32 BANKS ON HUCARD
	BANKSMORE:	start = $4000, size = $3C000, type = ro, fill = yes, fillval = $FF, define = yes;
}

SEGMENTS {
	ZEROPAGE:	load = ZP,  type = zp;
	BSS:		load = RAM, type = bss, define = yes;
	CODE:		load = ROM, type = ro, start = $E000;
	ROMDATA:	load = ROM, type = ro;
	#DATA:		load = RAM, run = RAM, type = rw, define = yes;
	VECTORS:	load = ROM, type = ro, start = $FFF6;
}
